body {
    background-image: url(image/img-bg.png);
    background-size: cover;
    margin: 0 auto;
}
.transparent {
    width: 100%;
    min-height: 700px;
    background-color: rgba(23,128,109, .3);
}
nav {
    width: 100%;
    height: 80px;
    background-color: #042425;
    color: white;
    font-size: 25px;
}
* {
    font-family: 'Open Sans', sans-serif;
}
.logo {
    background-image: url(image/logo.png);
    background-size: cover;
    float: left;
    margin-left: 10px;
    height: 100%;
    width: 40px;
}
.titre {
    text-align: center;
    color: white;
    line-height: 2em;
}
.container {
    width: 100%;
}
.box {
    width: 94%;
    margin-left: 3%;
    background-color: #f8f9fa;
}
.head_box {
    width: 100%;
    height: 80px;
    background-color: #3bc9db;
    color: white;
    line-height: 3.5em;
}
p {
    line-height: 35px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.modal, .modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
.modal-header {
    padding: 2px 16px;
    background-color: #51bfd0;
    color: white;
}
.cl {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.big_font {
    font-size: 25px;
    font-weight: bold;
}
.modal-body {
    padding: 2px 16px;
}
.col_r {
    color: red;
}
.modal-footer {
    padding: 2px 16px;
    color: white;
}
.ipbtn {
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    background-color: #51bfd0;
    padding: 10px;
}
a {
    color: gray;
    text-decoration: none;
}
.float_r {
    float: right;
}
.body_box {
    background-color: #f8f9fa;
    width: 100%;
    height: 500px;
}
.box_menu_1 {
    margin-top: 25px;
    margin-left: 3%;
    border-radius: 7px;
    float: left;
    width: 35%;
    height: 380px;
    background-color: white;
    box-shadow: 1px 1px 3px 3px lightgrey;
}
.div_avatar_1 {
    width: 100%;
    border-radius: 7px;
    background-color: #51bfd0;
    background-image: linear-gradient(to top, #51bfd0, white);
    height: 130px;
}
.img_avatar_1 {
    width: 100px;
    float: left;
    border-radius: 50%;
    height: 100px;
    margin-left: 5%;
    margin-top: 15px;
    border: 1px solid gray;
}
.w_70_h_70 {
    width: 84%;
    height: 84%;
    margin-top: 8%;
    margin-left: 8%;
    border-radius: 50%;
}
.float_l {
    float: left;
}
.lab_nom, .lab_prenom {
    color: white;
    font-weight: bold;
}
.sm_4 {
    background-image: url(image/ic-ajout.png);
}
.sm_1, .sm_2, .sm_3, .sm_4 {
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 97%;
    width: 95%;
}
.sm_1 {
    background-image: url(image/ic-liste.png);
}
.sm_2 {
    background-image: url(image/ic-ajout.png);
}
.sm_1.active, .sm_3.active {
    background-image: url(image/ic-liste-active.png);
}
.sm_3 {
    background-image: url(image/ic-liste.png);
}
.active {
    background-color: RGB(229, 233, 240,0.4);
    border-left: 3px solid green;
}
.li {
    padding-left: 20px;
    list-style-type: none;
    height: 40px;
    margin-top: 10px;
    line-height: 2.5em;
    width: calc(100% - 40px);
}
.rotate_page {
    width: 55%;
    float: right;
    height: 500px;
    border-radius: 5px;
    margin-right: 5%;
}
.contain_sub {
    border: 2px solid #3bc9db;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
}
.contain_pl {
    width: 90%;
    position: relative;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 3px lightgrey;
}
.div_head span {
    position: absolute;
    top: 10px;
    right: 0px;
}
div {
    display: block;
}
form {
    display: block;
    margin-top: 0em;
}
.inNumber {
    width: 70px;
    height: 40px;
    border-radius: 0px;
    border: 1px solid gray;
}
.div_head span input[type="submit"] {
    border: 1px solid gray;
    height: 30px;
    background-color: rgba(32, 32, 219, 0.836);
    color: white;
}
.c_rep .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #3bc9db;
}
.contain_sub {
    border: 2px solid #3bc9db;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
}
.ol {
    overflow: scroll;
    height: 10%;
}
.mod {
    margin-top: 10px;
}
.mg_2, ul, .c_rep {
    margin: 0px;
}
.sm_font13 {
    font-size: 13px;
    color: gray;
}
.c_rep {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
label {
    cursor: default;
}
strong {
    font-weight: bold;
}
input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    -webkit-appearance: checkbox;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}
.pos_abs {
    position: absolute;
    right: 5%;
    margin-top: -6%;
    background-color: #3addd6;
}
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: -internal-light-dark-color(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}
.c_rep input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.c_rep input:checked ~ .check {
    background-color: white;
}
.check, .checkmark {
    width: 10px;
    height: 10px;
}
.check {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 2px solid #3bc9db;
}
.c_rep input:checked ~ .check:after {
    display: block;
}
.admin .c_rep .check:after {
    left: 2px;
    top: 2px;
    width: 2px;
    height: 2px;
}
.c_rep .check:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #3bc9db;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.check:after {
    content: "";
    position: absolute;
    display: none;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.div_nav {
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 50px;
}
input[type="radio" i] {
    background-color: initial;
    cursor: default;
    margin: 3px 0.5ex;
    padding: initial;
    border: initial;
}
ul {
    list-style-type: disc;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 2px solid #3bc9db;
    border-radius: 50%;
}
.input:disabled {
    color: -internal-light-dark-color(rgb(84, 84, 84), rgb(170, 170, 170));
    cursor: default;
}
input[type="radio" i]:disabled {
    background-color: initial;
}
.sm_font {
    font-size: 10px;
}
button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(buttontext, rgb(170, 170, 170));
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark-color(rgb(239, 239, 239), rgb(74, 74, 74));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}
